duckdb==0.7.1
fastapi-cache2[redis]==0.2.1
fastapi-versionizer==0.1.2
fastapi==0.95.0
httpx==0.23.3
loguru==0.6.0
pandas==1.4.1
pandera==0.14.5
prometheus-fastapi-instrumentator==6.0.0
pyarrow==11.0.0
pydantic[dotenv]==1.10.7
redis==4.5.4
requests[security]==2.28.2
tenacity==6.2.0
uvicorn==0.21.0
uvloop==0.17.0

# azure deps
azure-storage-blob==12.16.0
